# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

.vscode
.idea
.redis

# testing
coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

target


tree_mmap
tree_state_latest_block_number
tree_state_latest_leaf_index
